@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

.container {
  width: 100%;
  height: 100%;
  justify-items: center;
}

.wrap {
  width: 97%;
  height: auto;
  /* Smart layout */
  display: flex;
  flex-direction: column;
  /* padding: 24px; */
  gap: 0px 10px;
  /* flex-wrap: wrap;
  align-content: flex-start; */
  border-radius: 8px;
  opacity: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin-top: 1em;
  margin-bottom: 1em;
}

.h2Wrap {
  margin: 0 auto;
  width: 95%;
  height: auto;
  z-index: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  margin-top: 24px;
}

.h2Text {
  font-family: "42dot Sans", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0px;
  color: #000000;
}

.buttonWrap {
  width: 95%;
  height: auto;
  /* Smart layout */
  display: flex;
  flex-direction: row;
  gap: 0px 15.73px;
  z-index: 1;
  margin: 0 auto;
  margin-top: 24px;
}

.buttonWrap .nonSelectButton {
  width: auto;
  height: auto;
  /* Smart layout */
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  gap: 0px 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 1;
  border-radius: 4px;
  opacity: 1;
  background: #FFFFFF;
  color: black;
  border: none;
  font-family: "42dot Sans", serif;
}

.nonSelectButton:hover {
  background-color: #f0f0f0;
}

.buttonWrap .selectButton {
  width: auto;
  height: auto;
  /* Smart layout */
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  gap: 0px 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 1;
  border-radius: 4px;
  opacity: 1;
  background: black;
  color: #FFFFFF;
  border: none;
  font-family: "42dot Sans", serif;
}

.selectboxWrap {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0px 15.73px;
  z-index: 1;
  margin: 0 auto;
  margin-top: 24px;
}

#search {
  padding: 8px 40px 8px 12px;
  width: 10%;
  border-radius: 8px;
  opacity: 1;
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #D1D5DB;
}

.inputWrap {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #D1D5DB;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  padding: 8px 16px;
  gap: 10px; /* 아이콘과 입력 필드 사이 간격 */
}

.inputWrap .svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0; /* 크기가 줄어들지 않도록 설정 */
}

.input {
  flex-grow: 1; /* input이 남은 공간을 차지하도록 설정 */
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 8px; /* 아이콘과의 간격 */
}

.infoWrap {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0px 48px;
  z-index: 1;
  margin: 0 auto;
  margin-top: 24px;
}

.infobox {
  width: 20%;
  height: 88px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 10px;
  column-gap: 10px;
  padding: 24px;
  font-family: "42dot Sans", serif;
  /* background: #EFF6FF; */

  .infoboxTitle {
    width: 202px;
    height: 20px;
    background: rgba(0, 0, 0, 0);

    .infoboxText {
      width: 59px;
      height: 20px;
      white-space: nowrap;
      /* color: #2563EB; */
      font-family: "Roboto";
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      font-family: "42dot Sans", serif;
    }
  }
  
  .colorBlue {
    color: #2563EB;
  }
  .colorGreen {
    color: #16A34A;
  }
  .colorPurple {
    color: #9333EA;
  }
  .colorOrange {
    color: #EA580C;
  }

  .infoboxContent {
    width: 202px;
    height: 36px;
    background: rgba(0, 0, 0, 0);

    .infoboxContentText {
      width: 83px;
      height: 36px;
      white-space: nowrap;
      color: #000000;
      font-family: "42dot Sans", serif;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
    }
  }
}

.bkBlue {
  background: #EFF6FF;
}

.bkGreen {
  background: #F0FDF4;
}

.bkPurple {
  background: #FAF5FF;
}

.bkOrange {
  background: #FFF7ED;
}

.barWrap {
  width: 95%;
  height: auto;
  display: flex;
  gap: 0px 48px;
  z-index: 1;
  margin: 0 auto;
  margin-top: 24px;
  flex-direction: column;
  padding: 24px;
  
}

.barWrapH3 {
  width: 1024px;
  height: 28px;
  z-index: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
}

.barWrapH3Text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.progressWrap {
  width: 100%;
  height: 32px;
  /* Smart layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 0px 24px;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
}

.progressWrap progress {
  width: 93%;
  height: 50%;
  z-index: 0;
  opacity: 1;
  background: #F3F4F6;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 10px;
  /* box-shadow: inset 3px 3px 10px #ccc; */
}

progress::-webkit-progress-value {
  border-radius: 10px;
  background: #000000;
  /* background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); */
  /* background: linear-gradient(to right, #93F9B9, #1D976C); */
}

.progressText {
  width: 5%;
  height: 35px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 35px;
  letter-spacing: 0px;
  color: #4B5563;
}

.colWrap {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0px 15px;
  border-radius: 8px;
  opacity: 1;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #FFFFFF; */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin-top: 24px;
}

.notice {
  width: 50%;
  height: auto;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 24px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  font-family: "42dot Sans", serif;
}

.nb {
  width: 100%;
  height: auto;
  padding: 16px;
}

.notice h2 {
  width: 100%;
  height: auto;
  font-family: "42dot Sans", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0px;
  color: #000000;
}

.noticeBox {
  width: 100%;
  height: auto;
  /* Smart layout */
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
  gap: 0px 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 8px;
  opacity: 1;
  background: #F9FAFB;
}

.noticeBoxDateText {
  width: 100%;
  height: auto;
  font-family: "42dot Sans", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #6B7280;
  opacity: 1;
}

.noticeBoxTitleText {
  width: 100%;
  height: auto;
  font-family: "42dot Sans", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
