@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

.container {
  width: 100%;
  height: 100%;
  justify-items: center;
}

.wrap {
  width: 97%;
  height: auto;
  /* Smart layout */
  display: flex;
  flex-direction: column;
  /* padding: 24px; */
  gap: 0px 10px;
  /* flex-wrap: wrap;
  align-content: flex-start; */
  border-radius: 8px;
  opacity: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin-top: 1em;
  margin-bottom: 1em;
}

.h2Wrap {
  margin: 0 auto;
  width: 95%;
  height: auto;
  z-index: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  margin-top: 24px;
}

.h2Text {
  font-family: "42dot Sans", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0px;
  color: #000000;
}

.infoWrap {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0px 48px;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 24px;
}

.infobox {
  width: 20%;
  height: 88px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 10px;
  column-gap: 10px;
  padding: 24px;
  font-family: "42dot Sans", serif;
  /* background: #EFF6FF; */

  .infoboxTitle {
    width: 202px;
    height: 20px;
    background: rgba(0, 0, 0, 0);

    .infoboxText {
      width: 59px;
      height: 20px;
      white-space: nowrap;
      /* color: #2563EB; */
      font-family: "Roboto";
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      font-family: "42dot Sans", serif;
    }
  }

  .colorBlue {
    color: #2563EB;
  }

  .colorGreen {
    color: #16A34A;
  }

  .colorPurple {
    color: #9333EA;
  }

  .colorOrange {
    color: #EA580C;
  }

  .infoboxContent {
    width: 202px;
    height: 36px;
    background: rgba(0, 0, 0, 0);

    .infoboxContentText {
      width: 83px;
      height: 36px;
      white-space: nowrap;
      color: #000000;
      font-family: "42dot Sans", serif;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
    }
  }
}

.bkBlue {
  background: #EFF6FF;
}

.bkGreen {
  background: #F0FDF4;
}

.bkPurple {
  background: #FAF5FF;
}

.bkOrange {
  background: #FFF7ED;
}

.colWrap {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0px 15px;
  border-radius: 8px;
  opacity: 1;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #FFFFFF; */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin-top: 24px;
}

/* 전체 기간, 차시별, 과목별 위험군 */
.warningGroup {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.warningGroupName {
  width: auto;
  height: auto;
  font-family: "42dot Sans", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #4b5563;
}

.warningGroupPercent {
  width: auto;
  height: auto;
  font-family: "42dot Sans", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ef4444;
}


/* 공시사항, 설문조사 */
.notice {
  width: 50%;
  height: auto;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 24px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  font-family: "42dot Sans", serif;
}

.noticeHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.nb {
  width: 100%;
  height: auto;
  padding: 16px;
}

.notice h2 {
  width: auto;
  height: auto;
  font-family: "42dot Sans", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0px;
  color: #000000;
}

a {
  margin-bottom: 20px;
  font-family: "42dot Sans", serif;
  font-size: 14px;
  color: #6B7280;
  text-decoration-line: none;
}

.noticeBox {
  width: 100%;
  height: auto;
  /* Smart layout */
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
  gap: 0px 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  opacity: 1;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  background: #FFFFFF;
}

.noticeBoxDateText {
  width: 100%;
  height: auto;
  font-family: "42dot Sans", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #6B7280;
  opacity: 1;
}

.noticeBoxTitleText {
  width: 100%;
  height: auto;
  font-family: "42dot Sans", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.infoWrap2 {
  width: 95%;
  margin-left: 24px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoWrap2 .h3 {
  display: flex;
  align-items: center;
}

.infoWrap2 .h3 .text {
  font-family: "42dot Sans", serif;
  font-size: 18px;
  font-weight: 600;
  color: gray;
  white-space: nowrap;
  margin-bottom: 10px;
}

/* 현재 날짜 및 시간*/
.currentTimeContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  font-family: "42dot Sans", serif;
  padding: 0 auto;
}

.currentTime {
  font-size: 40px;
  font-weight: bold;
  color: #202124;
}

.currentDate {
  font-size: 16px;
  color: #5f6368;
  /* Google 서브텍스트 색상 */
  font-weight: 400;
  margin-top: 4px;
}